<div class="row">
  <div class="row">
    <div class="input-field col s12">
      <input id="nome" [(ngModel)]="cerveja.nome" type="text" class="validate" name="nome">
      <label class="active" for="nome">Nome</label>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="marca" [(ngModel)]="cerveja.marca" type="text" class="validate" name="marca">
      <label class="active" for="marca">Marca</label>
    </div>
    <div class="input-field col s6">
      <select class="browser-default" [(ngModel)]="cerveja.tipo">
        <option value="" disabled selected>Selecione Tipo</option>
        <option value="1">Lager</option>
        <option value="2">Pilsen</option>
        <option value="3">Bock</option>
        <option value="4">Ale</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s6">
      <input id="codigo" [(ngModel)]="cerveja.codigo" type="text" class="validate" name="codigo">
      <label class="active" for="codigo">Código</label>
    </div>
    <div class="input-field col s6">
      <input id="url" [(ngModel)]="cerveja.url" type="text" class="validate" name="url">
      <label class="active" for="url">URL</label>
    </div>
  </div>
  <div class="row">
    <button class="btn waves-effect waves-light" name="action" (click)="salvar()">Salvar
    </button>
    <button class="btn waves-effect waves-light" name="action" (click)="delete()">Deletar
    </button>
  </div>
</div>